In [9]:
import pandas as pd
import mysql.connector as conn

try:
    mydb = conn.connect(host = "app.lagoonmed.eu",database="gp",user="root",password="P@xtibi2021!")
    gp = pd.read_sql("select * from gps",mydb)
    addr = pd.read_sql("select * from gps_group",mydb)
except Exception as e:
    print(e)

mydb.close()

c:\Users\andre\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\andre\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [29]:
gp.loc[gp.id==6400]

       id              name group_type province
815  6400  STEFANO VIANELLI          2  Venezia

In [19]:
addr.loc[addr.address.str.contains('MOROSIN'),:]

      userId                                   address phone_number
815     6400  VIA A. MOROSINI 2/A, 30126, VENEZIA (VE)   0415263165
1164    6993  VIA MOROSINI A. 2/A, 30126, VENEZIA (VE)  328 5860071
1207    7061  VIA A. MOROSINI 2/A, 30126, VENEZIA (VE)  041/5264397